.social-button--rounded {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 12px;
  background-color: $color-accent;
  color: $font-primary;
  border-radius: 50%;
  &:not(:last-of-type) {
    margin-right: 15px;
  }
  &:hover {
    background-color: $font-primary;
  }
}

.button.is-primary.is-outlined {
  border-color: $color-accent;
  color: $color-accent;
  font-size: 1.2rem;
  &:hover {
    border-color: $color-accent;
    background-color: $color-accent;
    color: $font-primary;
  }
}