@import "variables";
@import "utils";
@import "fonts";
@import "buttons";

body {
  font-family: "Nunito Medium";
  font-size: 1rem;
  color: $font-primary;
  background-color: $color-background-primary;
}

.main-content {
  height: 100vh;
}